@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dicoding-bg text-dicoding-text antialiased;
}

/* Tambahkan efek transisi halus untuk komponen */
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
